@import url("https://fonts.googleapis.com/css?family=Teko");

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.appWrapper {
	background-color: #1cebf4;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
}
.appHeader {
	text-align: center;
	font-family: "Teko";
	font-size: 60px;
}

.listView {
	background-color: #1cebf4;
	width: 75%;
	height: 75%;
	position: relative;
}
.itemWrapper {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-color: #1cebf4;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.inputsWrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	position: absolute;
	top: 30%;
}
.inputs {
	width: 30%;
	padding: 12px;
	height: 30px;
	border-radius: 10px;
	border: none;
	font-size: 24px;
	color: #1cebf4;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	font-family: "Teko";
	letter-spacing: 3px;
}
.inputs:focus {
	background-color: yellow;
	outline: none;
}
.inputs:focus::-webkit-input-placeholder {
	color: transparent;
}

.currencyItem {
	text-align: center;
	font-family: "Teko";
	font-size: 60px;
}
.resultWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 600px) {
	.appHeader {
		font-size: 40px;
	}
	.inputs {
		font-size: 14px;
		letter-spacing: 0;
	}
}
